*{
  margin: 0;
  padding: 0px;
}

body {
  background: radial-gradient(ellipse at bottom, #1B2735 0%, #090A0F 100%);
  height: 100vh;
  color: white;
}

h1,h2,h3,h4,h5 {
  font-family: 'Roboto', sans-serif;
}

h1 {
  margin-top: 20px;
  margin-bottom: 20px;
}

h3 {
  text-transform: capitalize;
}

p {
  font-family: 'Lato', sans-serif;
}

button {
  padding: 3px;
  border-radius: 5px;
  background-color: steelblue;
  color: white;
  box-shadow: 0px 2px 10px #222;
  width: 150px;
  height: 50px;
  font-size: 20px;
  border: 0px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.receipt {
  display: none;
  color: #222;
}
.card {
  border: 0;
}
